<section class="hero" id="home">
  <div class="hero__grid">
    <div class="hero__content">
      <p class="hero__tag">{{ t.t('hero.greeting') }}</p>
      <h1 class="hero__name" data-text="Camilo">Camilo</h1>
      <div class="hero__role">
        <span class="hero__role-prefix">&gt;&nbsp;</span>
        <span class="hero__role-text">{{ currentRole }}</span>
        <span class="hero__cursor">_</span>
      </div>
      <p class="hero__description">{{ t.t('hero.description') }}</p>
      <div class="hero__cta">
        <a (click)="scrollTo('projects')" class="btn btn--primary">{{ t.t('hero.projects') }}</a>
        <a (click)="scrollTo('contact')" class="btn btn--outline">{{ t.t('hero.contact') }}</a>
      </div>
    </div>
    <div class="hero__visual">
      <div class="hero__orb"></div>
    </div>
  </div>
</section>
