<section class="experience" id="experience">
  <div class="experience__container">
    <h2 class="experience__title">Experiencia</h2>
    <div class="timeline">
      <div class="timeline__item" *ngFor="let job of jobs; let i = index"
           [class.timeline__item--right]="i % 2 !== 0">
        <div class="timeline__dot"></div>
        <div class="timeline__card">
          <span class="timeline__date">{{ job.date }}</span>
          <h3 class="timeline__role">{{ job.role }}</h3>
          <h4 class="timeline__company">{{ job.company }}</h4>
          <p class="timeline__description">{{ job.description }}</p>
          <div class="timeline__tags">
            <span class="timeline__tag" *ngFor="let tag of job.tags">{{ tag }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
